@font-face {
    font-family: "Archivo";
    src: url("../../assets/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "Archivo-Italic";
    src: url("../../assets/fonts/Archivo/Archivo-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: "ArchivoBlack";
    src: url("../../assets/fonts/Archivo_Black/ArchivoBlack-Regular.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}