* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--bg);
    color: var(--ink);
    font-family: "Archivo";
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}